*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  align-items: end;
  gap: 30px;
}

.result__video-container {
  position: relative;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  cursor: pointer;
}
.search-form__textfield:focus {
  outline: none;
}
.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:has(input[type="checkbox"]):hover {
  text-decoration: underline;
}

.search-form__textfield {
  width: 225px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: rgba(255, 255, 255, 0.7);
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  background: transparent;
}

.search-form__textfield:active {
  outline: 1px solid #fff;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__checkbox[type="checkbox"]:checked + span {
  width: 19px;
  height: 19px;
  outline: 1px solid #1b1919;
  outline-offset: -2px;
  background: #fff;
}

.button {
  border: 1px solid #fff;
  color: #fff;
  font-family: Fira Sans Condensed;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  background: transparent;
  cursor: pointer;
}

.button:active {
  background: #545050;
}

.button:focus {
  outline: none;
}

.button:hover {
  text-decoration: underline;
}

.button:focus-visible {
  border: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
  min-height: 34px;
  margin-top: 20px;
}

.more-button {
  width: 399px;
  min-height: 34px;
}

.content__details {
  display: grid;
  grid-template-rows: 1fr 298px;
  gap: 26px;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-x: auto;
}

.content__list::-webkit-scrollbar {
  width: 0;
}

.content__card-link {
  display: block;
  margin: 2px;
  color: inherit;
  text-decoration: none;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link_current {
  background: #545050;
}

.content__video-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-left: 2px;
}

.content__video-card-title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  width: 194px;
  min-height: 103px;
}
